<section class="card">
   <div class="card-body">
      <h1 style="text-align: center;">BestBook</h1>
      <img src="/img/icono.png" alt="" width="200" height="200" style="display:block;
margin:auto;">

      <blockquote class="blockquote text-center">
         <p class="mb-0">Somos una tienda online que ofrece un catalogo de los mejores libros que existen
         en su categoria. Somos pionneros en la busqueda selectiva de libros que permitan
         a nuestros clientes deleitarse de los mejores libros con la mejor calidad , a un costo razonable.
         <br><br>
         Somos una empresa total mente responsable por la educacion y fomentamos la lectura en todo el mundo haciendo
         donaciones caritativas con el 30% de las utilidades de la empresa, comprometidas con el mundo para el mundo.
         </p>
         <footer class="blockquote-footer">Company <cite title="Source Title">DevSoft</cite></footer>
      </blockquote>
      
   </div>
</section>